@import 'common.scss';
@import 'colors.scss';

.wrapper {
  display: flex;
  font-family: $primaryFont;
  font-weight: $mediumFontWeight;
  font: $text14Regular;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.primary {
  color: $primary90;
}
.secondary {
  color: $grey70;
}
.success {
  color: $success70;
}
.danger {
  color: $danger90;
}
