@import 'common.scss';
@import 'colors.scss';
@import './ButtonBase.scss';

$outlineSize: 1px;

@mixin buttonColors($color, $border) {
  color: $color;
  @include shadowBorder($border);
  &:focus,
  .loaderWrapper {
    outline: 1px solid $border;
    border-radius: $rounded;
    box-sizing: border-box;
  }
}

.wrapper {
  @extend %button;
  font: $text14Medium;
}
.small {
  padding: $padding4;
}
.medium {
  padding: $padding8;
}
.large {
  padding: $padding16;
}

.primary {
  @include buttonColors($primary90, $primary20);
}
.secondary {
  @include buttonColors($grey70, $grey-border);
}
.success {
  @include buttonColors($success70, $success10);
}
.danger {
  @include buttonColors($danger90, $danger10);
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.loaderWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}
