@import 'common.scss';
@import 'colors.scss';

$underline: 1px solid $grey30;

.underline {
  height: 2px;
  border: none;
  background-color: $primary50;
  position: relative;
  margin-top: -1px;
}

.wrapper {
  display: flex;
  .tab {
    @extend %resetButton;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: -1px; // for tab underline continuity
    background-color: transparent; // for tab underline continuity
    border-bottom: 2px solid transparent; // for tab underline continuity
    // transition: $transition02;
    display: flex;
    align-items: center;
    justify-content: center;
    font: $text14Medium;
    color: $grey60;
    padding: 7px 0;
    &:hover {
      color: $grey90;
      border-bottom: 2px solid $grey-border;
    }
    &.active {
      color: $primary50;
    }
  }
  .simpleTab {
    &.active {
      color: $grey90;
    }
  }
  .noTabUnderline {
    border-color: transparent !important;
  }
  .tabWrapper {
    padding-right: $padding24;
  }
  .badge {
    padding-left: $padding8;
  }
}

.noUnderline {
  border-color: transparent;
}

.tallTabs {
  .tab {
    padding: $padding24 0;
  }
}
