@import 'common.scss';
@import 'colors.scss';

@mixin errorColors($color) {
  color: $color;
}

.wrapper {
  @extend %flexCentered;
  height: 100%;
  &.leftAlign {
    justify-content: flex-start;
  }
  &.rightAlign {
    justify-content: flex-end;
  }
  &.sides {
    justify-content: space-between;
  }
}

.primary {
  @include errorColors($primary90);
}
.secondary {
  @include errorColors($grey70);
}
.success {
  @include errorColors($success70);
}
.danger {
  @include errorColors($danger90);
}

/* Styles applied to the inner `component` element if `disablePaddings={false}`. */
.padding {
  padding-left: $padding16;
  padding-right: $padding16;
}
