// Colors
$white: #ffffff;
$primary-tint: #f1f3fd;
$primary10: #e3e8fc;
$primary20: #c8d1fb;
$primary30: #a8b2fa;
$primary40: #7e86f1;
$primary50: #5e5ce4;
$primary60: #5444cf;
$primary70: #4436ab;
$primary80: #302a79;
$primary90: #272654;
$grey-tint: #f9fafc;
$grey1: #fafafa;
$grey10: #f0f1f5;
$grey15: #cccccc;
$grey20: #dde0e9;
$grey30: #c8cedc;
$grey40: #a5adc1;
$grey50: #828aa0;
$grey60: #636c83;
$grey70: #40485e;
$grey80: #2b3245;
$grey90: #1e2334;
$grey-bg: $grey-tint;
$grey-divider: $grey10;
$grey-card-border: $grey20;
$grey-border: $grey30;
$success90: #0b4754;
$success80: #135e66;
$success70: #1f7f7f;
$success60: #2d988d;
$success50: #3eb19b;
$success40: #6ad0b3;
$success30: #8de7c5;
$success20: #b6f7d8;
$success10: #dafbe8;
$success-tint: #ecfdf3;
$warning90: #7a410d;
$warning80: #935715;
$warning70: #b77522;
$warning60: #db9631;
$warning50: #ffba44;
$warning40: #ffd072;
$warning30: #ffde8e;
$warning20: #ffebb4;
$warning10: #fff6d9;
$warning-tint: #fffaec;
$danger90: #790f3c;
$danger80: #921941;
$danger70: #b6274a;
$danger60: #d93952;
$danger50: #fd4f5a;
$danger40: #fd7e7a;
$danger30: #fea195;
$danger20: #fec7b8;
$danger10: #fee6db;
$danger-tint: #fef2ed;
// named colors
$danger-text: $danger60;
$primary-hover: $primary60;
