@import './inter/inter.css';
@import-normalize;

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial,
    sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

:root {
  --page-width: 800px;
}
