@import 'common.scss';
@import 'colors.scss';

.wrapper {
  display: flex;
  font-family: $primaryFont;
  font-weight: $mediumFontWeight;
  font: $text14SemiBold;
  justify-content: flex-end;
  padding: $padding12;

  select {
    margin-left: $padding16;
    border: 1px solid $grey15;
    border-radius: $padding4;
    padding: 2px $padding4;
  }
}

.primary {
  color: $primary90;
}
.secondary {
  color: $grey70;
}
.success {
  color: $success70;
}
.danger {
  color: $danger90;
}

.is_header {
  background: $grey1;
  border-radius: $padding4;
}
