@import 'common.scss';
@import 'colors.scss';
@import-normalize;

.parent {
  display: flex;
  @include sm {
    width: $max-width-sm;
    flex-direction: column;
  }
  @include md {
    width: $max-width-md;
    flex-direction: column;
  }

  @include lg {
    width: $max-width-lg;
    flex-direction: row;
  }

  @include xl {
    width: $max-width-xl;
    flex-direction: row;
  }
}

.responsive {
  display: flex;
  @include sm {
    width: 100%;
  }
  @include md {
    width: 66%;
  }

  @include lg {
    width: 66%;
  }

  @include xl {
    width: 66%;
  }
}

.dateRange {
  display: flex;
  @include sm {
    width: 100%;
    padding-right: 50px;
  }
  @include md {
    width: 100%;
    padding-right: 50px;
  }

  @include lg {
    width: 33%;
  }

  @include xl {
    width: 33%;
  }
}