@import 'common.scss';
@import 'colors.scss';

.formField {
  input {
    border: 1px solid $grey-border;
    border-radius: $rounded;
    font: $text14Regular;
    border-radius: $rounded;
    padding: $padding8 $padding12;
    outline: none;
    color: $grey90;
    min-width: 0;
    &::placeholder {
      color: $grey50;
    }
  }
}
