@import 'common.scss';
@import 'colors.scss';

.wrapper {
  display: flex;
  font-family: $primaryFont;
  font-weight: $mediumFontWeight;
  font: $text14Regular;
  padding: $padding24;
  justify-content: center;
  align-items: center;
  img {
    height: 30px;
  }
}
