@import 'common.scss';
@import 'colors.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.spinnerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .small {
    width: 40px;
    height: 40px;
  }
  .medium {
    width: 60px;
    height: 60px;
  }
  .large {
    width: 80px;
    height: 80px;
  }
}

.spin {
  animation: spin 1s infinite linear;
  border: 2px solid $primary50;
  border-left: 4px solid #fff;
  border-radius: 50%;
  margin-bottom: 16px;
  .small {
    height: 20px;
    width: 20px;
  }
  .medium {
    height: 30px;
    width: 30px;
  }
  .large {
    height: 40px;
    width: 40px;
  }
}

.text {
  color: $primary50;
  font-family: $primaryFont;

  .small {
    font: $interface11;
  }
  .medium {
    font: $text14Regular;
  }
  .large {
    font: $text16Regular;
  }
}

.text:after {
  content: 'Loading';
  animation: load 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    content: 'Loading';
  }
  33% {
    content: 'Loading.';
  }
  67% {
    content: 'Loading..';
  }
  100% {
    content: 'Loading...';
  }
}

.linearWrapper {
  margin: auto auto;
  width: 70px;
  text-align: center;
}
.linearWrapper div {
  width: 9px;
  height: 9px;
  background-color: $primary50;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: linearWrapper 1.4s infinite ease-in-out both;
  animation: linearWrapper 1.4s infinite ease-in-out both;
}
.linearWrapper div:nth-child(2) {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.linearWrapper div:nth-child(3) {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes linearWrapper {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes linearWrapper {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
