@import 'common.scss';
@import 'colors.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  padding: $padding24;
  @include sm {
    max-width: $max-width-sm;
  }
  @include md {
    max-width: $max-width-md;
  }

  @include lg {
    max-width: $max-width-lg;
  }

  @include xl {
    max-width: $max-width-xl;
  }
}

.pageBody {
  display: flex;
  flex-direction: column;
  padding-top: $padding24;
  height: 100%;
}
