@import 'common.scss';
@import 'colors.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: var(--page-width);
}

.pageBody {
  display: flex;
  flex-direction: column;
  height: 100%;
}
