@import 'common.scss';
@import 'colors.scss';

.wrapper {
  display: flex;
  font-family: $primaryFont;
  font-weight: $mediumFontWeight;
  font: $text14Regular;
  display: flex;
  padding-bottom: 16px;
  font: $text14Medium;
  color: $primary90;
  align-items: center;
}

.primary {
  color: $primary90;
}
.secondary {
  color: $grey70;
}
.success {
  color: $success70;
}
.danger {
  color: $danger90;
}

.mainLabel {
  flex: 1;
}

.subLabel {
  font: $text12Medium;
}
