@import 'colors.scss';

.wrapper {
  overflow: hidden;
}

.listContainer {
  overflow-y: auto;
}

.spinner {
  margin: auto;
}

.listItem {
  cursor: pointer;

  &:hover {
    background-color: $primary-hover-background;
  }
}
