@import 'common.scss';
@import 'colors.scss';

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  label {
    font-family: $primaryFont;
    font-weight: $regularFontWeight;
    font: $interface12;
    margin-bottom: $margin4;
    color: $grey50;
  }

  input {
    border: 1px solid $grey-border;
    border-radius: $rounded;
    font: $text14Regular;
    border-radius: $rounded;
    padding: $padding8 $padding12;
    outline: none;
    color: $grey90;
    min-width: 0;
    &::placeholder {
      color: $grey50;
    }
  }
}
