@import 'common.scss';
@import 'colors.scss';

@mixin square($size) {
  width: $size;
  height: $size;
}

.iconBtn {
  font-size: 1rem;
  padding: $padding8;
  @include square(24px);
}

.small {
  padding: $padding4;
  @include square(24px);
}
.medium {
  @include square(48px);
}
.large {
  @include square(64px);
}
